%h1 Listing articles

%table
  %tr
    %th Title
    %th Body
    %th
    %th
    %th

  - @articles.each do |article|
    %tr
      %td= article.title
      %td= article.body
      %td= link_to 'Show', admin_article_path(article)
      %td= link_to 'Edit', edit_admin_article_path(article)
      %td= link_to 'Destroy', admin_article_path(article), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Article', new_admin_article_path
